HEAD
h4 {
    background-color: darkorange;
    color: rebeccapurple;
}

body {
    color: rebeccapurple;
    font-family: 'HalyardDis_ISIAU Bk', Arial, sans-serif;
}

a:hover { color: chartreuse;
    text-decoration: underline;
    font-weight: 700;

}

a:visited { color: dodgerblue;
    text-decoration: solid;
}

/*Commento*/

h4 {
    background-color: darkorange;
    color: rebeccapurple;
}


a:hover { color: chartreuse;
    text-decoration: underline;
    font-weight: 700;

}

a:visited { color: dodgerblue;
    text-decoration: solid;
}

/*Commento*/
