HEAD
h4 {
    background-color: darkorange;
}

body {
    font-family: 'HalyardDis_ISIAU Bk', Arial, sans-serif;
    font-size: 28px;
    display: flex;
}

a:hover { color: chartreuse;
    text-decoration: underline;
    font-weight: 700;

}

a:visited { color: dodgerblue;
    text-decoration: solid;
}

/*Commento*/

div { background-color: blue;
}



/*Commento*/
