HEAD
h4 {
    background-color: darkorange;
    color: rebeccapurple;
}
body {
    color: rebeccapurple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover { color: chartreuse;
    text-decoration: underline;
    font-weight: 700;

}

a:visited { color: dodgerblue;
    text-decoration: solid;
}

body {
    color: yellowgreen;
}
/*Commento*/

h4 {
    background-color: darkorange;
    color: rebeccapurple;
}
body {
    color: rebeccapurple
}

a:hover { color: chartreuse;
    text-decoration: underline;
    font-weight: 700;

}

a:visited { color: dodgerblue;
    text-decoration: solid;
}

body {
    color: yellowgreen
}
/*Commento*/
